.FestivalLayout-title {
	line-height: 1.2;
	font-size: rem-calc(13);
}
.FestivalLayout-title a {
	text-decoration: underline;
}
.FestivalLayout-header {
	overflow: initial;
	@media #{$medium-up} {
		display: flex;
		justify-content: space-between;
	}
}
