.FestivalsMenu {
	display: flex;
}
.FestivalsMenu-item {
	width: 110px;
	padding: $u;
	text-align: center;
	border-right: 1px solid white;
}
.FestivalsMenu-navTitle {
	@extend .paragraph--large;
	color: inherit;
	margin: 0;
}
.FestivalsMenu-title {
	font-size: rem-calc(11);
	letter-spacing: 0.5px;
	color: inherit;
	margin: 0;
	line-height: $lineHeight-tight;
}
