.newsletter {
	.rte-text p {
		font-size: rem-calc(16) !important;
	}
	.lead, .lead p {
		font-size: rem-calc(18) !important;
	}
	.alpha {
		font-size: rem-calc(24) !important;
	}
	.columns {
		padding: 0 !important;
	}
}
