

.our_projects{
	.description{display: none;}
}


.our_projects .tabs-content > .content{
	padding-top:0;
}
.our_projects .tabs{
	padding: 1rem 0rem;
	dd > a{
		background: inherit;
		text-transform: uppercase;
		font-weight: bold;
		padding: 0;
		margin: 0 1.5rem;
	}
	dd.active > a{
		border-bottom:3px solid $navy;
	}
	
}


.orbit-container ul.carddeck.orbit-slides-container{
	list-style-type: none;
	margin-left: 0rem;
	margin-right: 2rem;
	img{
		float: left;
		height: inherit;
	}
	li{
		section{
			padding: 1rem 2rem;
			margin-left: 208px;
		}
		.wrap{
			min-width: 556px;
		}
		a{	color: #222;}
		font-style: italic;
		font-size: 13px;
		line-height: 1.2;
		h3{
			font-size: 19px;
			color: black;
			font-weight: normal;
			margin-bottom: rem-calc(16);
		}
		img{max-width: inherit;}
		width:12%;
		height:rem-calc(308);
		float:right;
		box-shadow: 2px 0px 3px #666;
		transition: width 0.3s ease;
		overflow:hidden;
		background: #f4f4f4;
		position: relative;
		margin: 0% !important;
		.news-list-date{display: none;}
		cursor: pointer;
	}
	li:after {
		content: '';
		background: black;
		opacity: 0.33;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0px;
		left: 0;
		
	}
	li.active{
		width:64%;
		cursor: inherit;
	}
	li.active:after{display: none;}
	li:hover:after{opacity: 0;}
	
	.arrows {
		position: absolute;
		bottom: 0;
		left: 207px;
		right: 0;
		.prev,.next{
			width: 50%;
			float: left;
			border-top: 1px solid #aaa;
			height: 3.125rem;
			display: block;
			text-align: center;
			font-size: 50px;
			font-weight: 300;
			font-family: serif;
			color: #666;
			font-style: normal;
			line-height: 38px;
			
			
		}
		.prev{border-right: 1px solid #aaa;}
	}
}