 /* Typography resets */
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td,
figure {
  margin:0;
  padding:0;
}
ul{list-style-type: none;}
a{
  text-decoration: inherit;
  color: inherit;
}

h1,h2,h3,h4,h5,h6{
	font-weight: inherit;
}