//conf image
#c55 {
margin-top: 24px;
}

.hide{
	display: none !important;
}

.page-344 .page-content {
	@extend .fixedWidth;
	padding: 0 $u;
	& > .csc-default {
		width: 33%;
		float: left;
		&:nth-child(3n+1) {
			clear: left;
		}
		padding-right: 3*$u;
		padding-bottom: 3*$u;
	}
	.media-quote__image, .media-quote--blog__author {
		text-align: left;
	}
}











// FESTIVAL
.Masthead {
	background-position: center;
	background-size: cover;
}

.Masthead-overlay {
	background-color: rgba(0, 0, 0, .4);
}

.Masthead-summary {
	p {
		margin-bottom: $u;
	}
}

.H0 {
	font-size: rem-calc(36);
	@media #{$medium-up}{
		font-size: rem-calc(72);
	}
	font-weight: 600;
	line-height: 1;
}

.Fox {
	font-size: rem-calc(18);
	font-weight: 400;
	font-style: italic;
	line-height: 1.2;
}









.neos #neos-inspector table.neos-tableview-table td {
	padding-right: 8px;
}

.Container {
	overflow: hidden;
}
