/*doc
---
title: About atomic design
name: about
category: index
---
This stylesheet is heavily documented and turned into a style guide.

For more information why you should create such styleguides [read here](http://alistapart.com/article/creating-style-guides).

And for an introduction to the Atomic design methodology, look up [here](http://bradfrostweb.com/blog/post/atomic-web-design/).

Designer Elena Shiryaeva. Developer Dmitri Pisarev. Copyright psmb.ru

 */
@import "renormalize";
@import "atoms/01_color";
@import "settings";
// Behold, here are all the Foundation components.
@import
  // "foundation/components/accordion",
  // "foundation/components/alert-boxes",
  "../node_modules/zurb-foundation-5/scss/foundation/components/block-grid",
  // "foundation/components/breadcrumbs",
  // "foundation/components/button-groups",
  "../node_modules/zurb-foundation-5/scss/foundation/components/buttons",
  "../node_modules/zurb-foundation-5/scss/foundation/components/clearing",
  // "foundation/components/dropdown",
  // "foundation/components/dropdown-buttons",
  "../node_modules/zurb-foundation-5/scss/foundation/components/flex-video",
  // "foundation/components/forms",
  "../node_modules/zurb-foundation-5/scss/foundation/components/grid",
  "../node_modules/zurb-foundation-5/scss/foundation/components/inline-lists",
  // "foundation/components/joyride",
  // "foundation/components/keystrokes",
  "../node_modules/zurb-foundation-5/scss/foundation/components/labels",
  "../node_modules/zurb-foundation-5/scss/foundation/components/magellan",
  "../node_modules/zurb-foundation-5/scss/foundation/components/orbit",
  // "foundation/components/pagination",
  "../node_modules/zurb-foundation-5/scss/foundation/components/panels",
  // "foundation/components/pricing-tables",
  // "foundation/components/progress-bars",
  "../node_modules/zurb-foundation-5/scss/foundation/components/reveal",
  // "foundation/components/side-nav",
  // "foundation/components/split-buttons",
  "../node_modules/zurb-foundation-5/scss/foundation/components/sub-nav",
  // "foundation/components/switch",
  //"../node_modules/zurb-foundation-5/scss/foundation/components/tables",
  "../node_modules/zurb-foundation-5/scss/foundation/components/tabs",
  "../node_modules/zurb-foundation-5/scss/foundation/components/thumbs",
  // "foundation/components/tooltips",
  // "foundation/components/top-bar",
  //"foundation/components/type",
  // "foundation/components/offcanvas",
  "../node_modules/zurb-foundation-5/scss/foundation/components/visibility";


// @import "general";

@import "atoms/*";
@import "molecules/*";
@import "organisms/*";
@import "vendor/*";

@import "shame";




.page-navigation{
  display: none;
}

.clearing-thumbs li, [data-clearing] li {
  float: left;
  margin-right: $u;
  margin-bottom: $u;
}
