/*doc
---
title: Helper classes
name: 00_helpers
category:
- atoms
- 00_helpers
---
Various helper classes, in addition to those inherited from Foundation.
 */

/*doc
---
title: Fixed width
name: fixedWidth
parent: 00_helpers
category:
- atoms
- fixedWidth
---
Limits width for container. TODO: check what's up with that float thing

```html_example
<div class="fixedWidth"><p>This block is width-limited</p></div>
```
 */
.fixedWidth {
	max-width: emCalc(1200);
	margin: 0 auto !important;
	overflow: hidden;
}

.center, .textAlign-center {
	text-align: center;
}
.textAlign-left {
	text-align: left;
}
.textAlign-right {
	text-align: right;
}

.row-no-padding .columns {
	padding: 0 !important;
	img {
		width: 100%;
	}
}

.flex {
	display: flex;
}
.flex-shrink {
	flex-shrink: 1;
}
.flex-grow {
	flex-grow: 1;
}

.round {
	border-radius: 50%;
}
