$navy--light: #1e5a86;
$navy--dark: darken($navy--light,10%);
//#2a4072;
$gray: #656565;
$gray--dark: #151515;
$gray--light: #878787;
$gray-line: #d7d7d7;
$gray-bg: #dae0e3;
// Second order of mappings. TODO: document this section.
$primary-color: $navy--light;

$scarlet: #ed492e;
$pink: #dc3067;
$violet: #af52aa;
$marine: #008899;
$emerald: #1e9463;
$grass: #61902f;
$yellow: #edad00;
$orange: #e87f23;

$festivalBlue: #6297ff;
$festivalPink: #ff7396;

.backgroundColor-gray {
	background: $gray-bg;
}
.bg-navy--light {
	background: $navy--light;
}
.bg-navy--dark {
	background: $navy--dark;
}
.bg-white, .backgroundColor-white {
	background: white;
}

.backgroundColor-warning {
	background-color: $scarlet;
}

.white, .color-white {
	color: white !important;
}
.navy--light {
	color: $navy--light !important;
}
.primary-color {
	color: $primary-color !important;
}
.color-warning {
	color: $scarlet !important;
}

.color-gray {
	color: $gray;
}

.color-grayLight {
	color: $gray--light;
}

@mixin colormixPrimary($pageclass, $color){
	#{$pageclass}{
		.section-color {
			color: $color;
			border-color: $color;
		}
		.section-color-bg {
			background: $color;
		}
		.section-color-bd {
			border-color: $color;
		}
		.section-color-bg--darken {
			background: darken($color,20%);
		}
		.section-color-bd--darken {
			border-color: darken($color,20%);
		}
		blockquote {
			:before{background: $color;}
		}
	}
}

@mixin colormixAlt($pageclass, $color){
	#{$pageclass}{
		.section-alt-color {
			color: $color;
			border-color: $color;
		}
		.section-alt-color-bg {
			background: $color;
		}
		.section-alt-color-bd {
			border-color: $color;
		}
		.section-alt-color-bg--darken {
			background: darken($color,20%);
		}
		.section-alt-color-bd--darken {
			border-color: darken($color,20%);
		}
		blockquote {
			:before{background: $color;}
		}
	}
}

//main
@include colormixPrimary("body", $navy--light);

@include colormixPrimary("#Festival-2017", $navy--light);
@include colormixAlt("#Festival-2017", $scarlet);

@include colormixPrimary("#Festival-2018", $festivalBlue);
@include colormixAlt("#Festival-2018", $festivalPink);
