
%heading-defaults{
	@extend %vertical-margins;
	line-height: 1.2;
}

.paragraph{
	@extend %vertical-margins;
	line-height: 1.5;
	font-size: rem-calc(16);
}
.paragraph--small{
	@extend .paragraph;
	font-size: rem-calc(14);
}
.paragraph--large{
	@extend .paragraph;
	margin: 2*$u 0;
	font-size: rem-calc(18);
}

.link{
	color: $primary-color;
	text-decoration: none;

	&:hover,
	&:focus { color: scale-color($primary-color, $lightness: -14%); }
}

.blockquote{
	&:before{
		content: '';
		display: block;
		width: 48px;
		height: 3px;
		margin-bottom: 18px;
		background: $primary-color;
	}
	&,p{
		font-size: rem-calc(25) !important;
		font-weight: 300;
		color: $gray;
		line-height: 1.2;
	}
	font-style: italic;
	border-left: 0;
}

.blockquote--small{
	@extend %vertical-margins;
	&,p{
		font-size: rem-calc(14
			) !important;
		font-weight: 300;
		color: $gray;
		line-height: 1.5;
	}
	font-style: italic;
}

.ul{
	list-style-type: disc;
	margin-left: 2*$u;
	> li{
		margin-bottom: $u;
	}
}


.ol{
	list-style-type: decimal;
	margin-left: 2*$u;
	> li{
		margin-bottom: $u;
	}
}

.alpha,.beta,.gamma,.delta,.epsilon,.zeta{
	@extend %heading-defaults;
}
.alpha{
	font-size: rem-calc(32);
	font-weight: 600;
	@media (min-width: 640px) {
		font-size: rem-calc(48);
	}
}
.alpha--light{
	@extend .alpha;
	font-weight: 300;
}
.beta{
	font-weight: 600;
	font-size: rem-calc(18);
	@media (min-width: 640px) {
		font-size: rem-calc(24);
	}
}
.gamma{
	font-size: rem-calc(16);
	font-weight: 600;
}
.delta{
	font-size: rem-calc(13);
	text-transform: uppercase;
	font-weight: 400;
	color: $gray;
}
.delta--navy{
	@extend .delta;
	color: $navy--light;
}
.epsilon{
	font-size: rem-calc(15);
	font-weight: 400;
}
.zeta{
	font-size: rem-calc(14);
	font-weight: 400;
	color: $gray;
}

.page-title{
	@extend %vertical-margins;
	font-weight: 600;
	font-size: rem-calc(28);
	line-height: 1.3;
	text-transform: uppercase;
}


.important-title{
	@extend %heading-defaults;
	color: white;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: rem-calc(28);
}
.important-title--small{
	@extend .important-title;
	font-weight: 400;
	font-size: rem-calc(16);
}
.important-title--small-strong{
	@extend .important-title;
	font-weight: 600;
	color: inherit;
	font-size: rem-calc(16);
}

.block-title{
	font-size: rem-calc(13);
	text-transform: uppercase;
	font-weight: 400;
}
.block-title--inv{
	@extend .block-title;
	color: white;
}
.block-title--strong{
	@extend .block-title;
	font-weight: 600;
}
.block-title--primary{
	@extend .block-title;
	color: $primary-color;
}

.service{
	@extend %heading-defaults;
	font-size: rem-calc(13);
	font-weight: 400;
	line-height: 0.7;
	text-transform: lowercase;
	font-variant: small-caps;
	letter-spacing: 1px;
	color: $gray;
}

.service-small{
	@extend %heading-defaults;
	line-height: 1.5;
	font-size: rem-calc(13);
	font-weight: 400;
	color: $gray;
}
.service-small--gray{
	@extend .service-small;
	color: $gray;
}
.service-small--gray-light{
	@extend .service-small;
	color: $gray--light;
}
.service-small--gray-dark{
	@extend .service-small;
	color: $gray--dark;
}
.service-small--inv{
	@extend .service-small;
	color: white;
}
.service-small--navy-light{
	@extend .service-small;
	color: $navy--light;
}

.service-large{
	@extend %heading-defaults;
	font-size: rem-calc(16);
	font-weight: 400;
	color: $navy--light;
}
.service-large--inv{
	@extend .service-large;
	color: white;
}
.service-large--gray-light{
	@extend .service-large;
	line-height: 1.5;
	color: $gray--light;
}

.service-caps{
	@extend %heading-defaults;
	font-size: rem-calc(16);
	text-transform: uppercase;
	font-weight: 400;
}
.service-caps--navy-light{
	@extend .service-caps;
	color: $primary-color;
}

.action{
	@extend %heading-defaults;
	font-weight: 400;
	text-transform: lowercase;
	font-variant: small-caps;
	font-size: rem-calc(18);
	font-style: italic;
	color: $navy--light;
	letter-spacing: 1px;
}
.action--small{
	@extend .action;
	font-size: rem-calc(14);
	color: $gray--dark;
}

.lead,.lead p, .Lead, .Lead p{
	@extend %vertical-margins;
	font-size: rem-calc(22);
	letter-spacing: 1px;
	line-height: 1.4;
}

.Text.rte-text > div {
	@extend .paragraph--large
}
.rte-text {
	h1 {@extend .alpha;}
	h2 {@extend .beta;}
	h3 {
		@extend .gamma;
		// HACK
		font-size: rem-calc(21);
	}
	h4 {@extend .delta;}
	h5 {@extend .epsilon;}
	h6 {@extend .zeta;}
	p {@extend .paragraph--large;}
	a {@extend .link;}
	blockquote {@extend .blockquote;}
	ul {@extend .paragraph--large; @extend .ul;}
	ol {@extend .paragraph--large; @extend .ol;}

	.author {
		@extend .zeta;
	}

	.epigraph {
		@extend .Epigraph;
	}
	//legacy styles from psmb v1.0
	.interview {
		font-weight: bold;
	}
}

.Aside {
	background: $gray-bg;
	&,p {
		font-size: rem-calc(14) !important;
		margin: $u 0;
	}
	padding: $u 2*$u;
}
.Section {
	background: $gray-bg;
	&,p,li {
		font-size: rem-calc(14) !important;
		margin: $u 0;
	}
	padding: $u 2*$u;
}
.Small {
	&,p {
		font-size: rem-calc(14) !important;
	}
}

.Author{
	@extend .zeta;
}

.Epigraph, .Epigraph p {
	text-align: right;
	font-style: italic;
}
