.icon {
	height: 16px;
	width: 16px;
	display: inline-block;
	vertical-align: middle;
	background-repeat: no-repeat;
}
.icon-tag {
	@extend .icon;
	background-image: url('/_Resources/Static/Packages/Sfi.Site/Icons/icon-tag.png');
}