$shadow: 1px 1px 2px 0 $gray--light;
$shadow-bordered: 1px 1px 2px 1px $gray--light;
$shadow-deep: 3px 3px 4px 1px $gray--light;

.shadow {
	box-shadow: $shadow;
}

.shadow-hover:hover {
	box-shadow: $shadow-deep !important;
}
