.Cat-content {
	display: none;
}
.Cat.is-active .Cat-content {
	display: block;
}
.Cat-switch{
	display: block;
	height: 3*$u;
	background-color: white;
	background: white center 90% no-repeat url('/_Resources/Static/Packages/Sfi.Site/Icons/icon-arrow-down.png');
	cursor: pointer;
	&:before{
		border-top: 1px solid $gray-line;
		content: '';
		margin-top: $u;
		display: block;
	}
}

.Cat.is-active .Cat-switch{
	position: static;
	background-image: url('/_Resources/Static/Packages/Sfi.Site/Icons/icon-arrow-up.png');
}
