.read-more{
	position: relative;
	overflow: hidden;
	transition: all 0.6s;
}
.read-more__switch{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3*$u;
	background-color: white; 
	background: white center 90% no-repeat url('/typo3conf/ext/speciality/Resources/Public/Icons/icon-arrow-down.png');
	cursor: pointer;
	&:before{
		border-top: 1px solid $gray-line;
		content: '';
		margin-top: $u;
		display: block;
	}
}

.read-more.is-expanded{
	max-height: initial !important;
}
.is-expanded .read-more__switch{
	position: static;
	background-image: url('/typo3conf/ext/speciality/Resources/Public/Icons/icon-arrow-up.png');
}
