/*doc
---
title: Search box
name: search-box
category:
- molecules
- search-box
---

```html_example
```
 */
.search-box{
	width: 185px;
	overflow: hidden;
} 

.gsc-branding,.gcsc-branding,.gsc-resultsHeader,.gs-watermark{
	display: none;
}
.gsc-input,.gsc-search-button{
	padding: 0 !important;
}
.gsc-input input{
	padding: 0 $u/2 !important;
	color: $gray--light !important;
	background-image: none !important;
}
.gsc-search-button input{
	background: center no-repeat url("/typo3conf/ext/speciality/Resources/Public/Icons/icon-search.png") !important;
	color: rgba(0,0,0,0) !important;
	overflow: hidden;
	border: none !important;
	width: 21px;
	height: 21px;
}
.gsc-search-button input{
	position: relative;
	left: -23px;
}
div.gsc-clear-button{
	display: block !important;
	position: relative !important; 
	left: -25px;
	padding-left: 3px !important;
	padding-right: 0 !important;
}

.gsc-results-wrapper-visible{
	position: absolute !important;
	z-index: 1000;
	right: 0;
	max-width: 700px;
	background:  $gray-bg;
	padding: $u;
}

.gsc-results{
	width: 100% !important;
}

.search-box input,.gsc-table-result{
	margin-bottom: 0 !important;
}

body .search-box #cse .gsc-control-cse, body .search-box #cse .gsc-control-cse .gsc-table-result{
	font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
}
body .search-box #cse .gs-title{
	@extend .gamma;
	font-size: 1rem;
	font-weight: 600 !important;
	color: #151515 !important;
	text-decoration: none !important;
	margin: 0 !important;
	b{
		color: $primary-color !important;
	}
}

.gs-result .gs-visibleUrl{
	color: $primary-color !important;
}

.gsc-cursor-page{
	font-size: 16px !important;
	padding: 6px;
}

.search-box{
	table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td{
		line-height: 1;
	}
}