.StoryFeed--white {
	border-color: #eb443c !important;
	.StoryItemFirst {
		border-color: #eb443c;
		border-left-width: 0 !important;
		border-right-width: 0 !important;
		border-top-width: 0 !important;
	}
	.StoryFeed-line {
		border-color: #eb443c;
		&:after {
			color: #eb443c;
		}
	}
	&:after {
		color: #eb443c !important;
	}
}
.StoryFeed {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-left: 1px dotted white;
	&:after {
		content: '»';
		transform: rotate(90deg);
		position: absolute;
		bottom: -11px;
		left: -3px;
		color: white;
	}
	@media #{$medium-up} {
		align-items: flex-end;
		border-left: 0;
		border-bottom: 1px dotted white;
		&:after {
			transform: initial;
			bottom: -7px;
			left: initial;
			right: -1px;
			color: white;
		}
		flex-direction: row;
	}
}
.StoryFeed-item {
	position: relative;
	padding-left: 3*$u;
	margin-bottom: 1.5*$u;
	width: 100%;
	@media #{$medium-up} {
		padding-left: $u;
		padding-bottom: 0;
		margin-bottom: 0;
		text-align: center;
		width: 19%;
	}
}


.StoryFeed-readAll {
	@media #{$medium-up} {
		text-align: right;
	}
}


.StoryItemFirst {
	width: 100%;
	position: relative;
	margin-bottom: 2*$u;
	padding-left: 0;
	margin-left: -1px;
	text-align: left;
	border: 1px solid white;
	border-left-width: 4px;
	@media #{$medium-up} {
		width: 24%;
		border-left-width: 1px;
		border-bottom-width: 4px;
		margin-bottom: -1px;
		margin-left: 0;
	}
}
.StoryItemFirst-bg {
	padding-top: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	@media #{$medium-up} {
		padding-top: 66%;
	}
}
.StoryItemFirst-overlay {
	position: absolute;
	background-color: rgba(0,0,0,.4);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.StoryItemFirst-inner {
	position: absolute;
	left: $u;
	bottom: $u;
	right: $u;
}





.StoryFeed-line {
	position: absolute;
	top: 50%;
	left: 0;
	float: left;
	width: 2*$u;
	&:after {
		content: '●';
		color: white;
		position: absolute;
		bottom: -7px;
		left: -5px;
	}
	border-top: 1px dotted white;
	@media #{$medium-up} {
		position: relative;
		float: none;
		margin-top: $u/2;
		top: initial;
		left: initial;
		width: 50%;
		height: 3*$u;
		border-top: 0;
		border-right: 1px dotted white;
		display: block;
		&:after {
			bottom: -7px;
			left: initial;
			right: -5px;
		}
	}
}
