.StoryFeed--white {
	border-color: #eb443c !important;
	.StoryItemFirst {
		border-color: #eb443c;
		border-left-width: 0 !important;
		border-right-width: 0 !important;
		border-top-width: 0 !important;
	}
	.StoryFeed-line {
		border-color: #eb443c;
		&:after {
			color: #eb443c;
		}
	}
	&:after {
		color: #eb443c !important;
	}
}
.StoryFeed {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-left: 1px dotted white;
	&:after {
		content: '»';
		transform: rotate(90deg);
		position: absolute;
		bottom: -11px;
		left: -3px;
		color: white;
	}
}
.StoryFeed-item {
	position: relative;
	padding-left: 3*$u;
	margin-bottom: 1.5*$u;
	width: 100%;
}



.StoryFeed-line {
	position: absolute;
	top: 50%;
	left: 0;
	float: left;
	width: 2*$u;
	&:after {
		content: '●';
		color: white;
		position: absolute;
		bottom: -7px;
		left: -5px;
	}
	border-top: 1px dotted white;
}
